:root
  --background-color white
  --color black
  --color-link blue
  --color-link-visited var(--color-link)
  --color-link-hover var(--color-link)
  --color-link-active var(--color-link)

  @media (prefers-color-scheme dark)
    --background-color black
    --color white
    --color-link cyan
    // --color-link-visited var(--color-link)
    // --color-link-hover var(--color-link)
    // --color-link-active var(--color-link)

  background-color var(--background-color)
  color var(--color)
