// FONT

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700&display=swap')

:root
  font-family 'IBM Plex Mono', monospace
  font-size 10px
  line-height 15px

// HEADINGS

h1
  font-weight bold

h6
  font-style italic

// LINKS

a
  text-decoration underline
  
  &:link
    color var(--color-link)
  &:visited
    color var(--color-link-visited)
  &:hover
    color var(--color-link-hover)
  &:active
    color var(--color-link-active)
