#hello {
  position: fixed;
  bottom: 32px;
  right: 20px;
  z-index: 10;
  &::after {
    position: absolute;
    bottom: -23px;
    right: -10px;
    z-index: -1;
    width: 68px;
    height: 57px;
    padding-top: 12px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='68' height='58' viewBox='0 0 68 58' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3eRectangle 2%3c/title%3e%3cdesc%3eCreated using Figma%3c/desc%3e%3cg id='Canvas' transform='translate(-1283 -940)'%3e%3cg id='Rectangle 2'%3e%3cuse xlink:href='%23path0_fill' transform='translate(1285 942)'/%3e%3cmask id='mask0_outline_out'%3e%3crect id='mask0_outline_inv' fill='white' x='-2' y='-2' width='68' height='58' transform='translate(1285 942)'/%3e%3cuse xlink:href='%23path0_fill' fill='black' transform='translate(1285 942)'/%3e%3c/mask%3e%3cg mask='url(%23mask0_outline_out)'%3e%3cuse xlink:href='%23path1_stroke_2x' transform='translate(1285 942)' fill='%23FFFFFF'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cpath id='path0_fill' d='M 0 0L 64 0L 64 40L 54.5882 40L 54.5882 50L 45.1765 40L 0 40L 0 0Z'/%3e%3cpath id='path1_stroke_2x' d='M 0 0L 0 -2L -2 -2L -2 0L 0 0ZM 64 0L 66 0L 66 -2L 64 -2L 64 0ZM 64 40L 64 42L 66 42L 66 40L 64 40ZM 0 40L -2 40L -2 42L 0 42L 0 40ZM 45.1765 40L 46.6329 38.6293L 46.0406 38L 45.1765 38L 45.1765 40ZM 54.5882 40L 54.5882 38L 52.5882 38L 52.5882 40L 54.5882 40ZM 54.5882 50L 53.1318 51.3707L 56.5882 55.0432L 56.5882 50L 54.5882 50ZM 0 2L 64 2L 64 -2L 0 -2L 0 2ZM 62 0L 62 40L 66 40L 66 0L 62 0ZM 2 40L 2 0L -2 0L -2 40L 2 40ZM 45.1765 38L 0 38L 0 42L 45.1765 42L 45.1765 38ZM 64 38L 54.5882 38L 54.5882 42L 64 42L 64 38ZM 52.5882 40L 52.5882 50L 56.5882 50L 56.5882 40L 52.5882 40ZM 56.0446 48.6293L 46.6329 38.6293L 43.7201 41.3707L 53.1318 51.3707L 56.0446 48.6293Z'/%3e%3c/defs%3e%3c/svg%3e ");
    text-align: center;
    font-size: 22px;
    content: '📬'
  }
  > *:not(.active) {display: none}
  button {
    @extend %title;
    @extend %emboldened;
    margin: 0;
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    &:disabled {
      opacity: 0.25;
      pointer-events: none
    }
    &:focus {outline: none}
    &:hover, &:focus {
      position: relative;
      top: 4px;
      left: 4px;
    }
  }
  form {
    width: 280px;
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  input, textarea {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    background-color: transparent;
    padding: 2px 0;
    font: inherit;
    &:focus {outline: none}
    &:not(:last-child) {margin-bottom: 10px}
  }
  .controls {
    align-self: flex-end;
    span {
      font-weight: bold;
      &:focus {outline: none}
      &:hover, &:focus {
        position: relative;
        top: 2px;
        left: 2px;
      }
    }
    button {
      margin-left: 10px;
      border: none;
      background-color: black;
      color: white;
    }
  }
}
