#music {
  @include padded;
  @include scrollable;
  display: flex;
  flex-direction: column;
  aside {
    order: -1;
    margin-bottom: 32px;
    span {
      display: inline-block;
      margin: 0 32px 10px 0;
      a {margin-left: 4px}
    }
  }
  ul {margin-right: -32px;}
  li {
    display: inline-block;
    margin: 0 32px 32px 0;
    max-width: 100%;
    @media #{$breakpoint-tablet} {max-width: 400px}
  }
}
