$color: $color-thoughts;

#thoughts {
  @include scrollable;
  display: flex;
  flex-wrap: wrap;
  > * {
    overflow: hidden;
    flex: 1;
    flex-basis: 100%;
    @media #{$breakpoint-tablet}  {flex-basis: 50%}
    @media #{$breakpoint-desktop} {flex-basis: calc(100% / 3)}
  }
  .bleed {
    min-height: 144px;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
    }
  }
  article {
    &:last-child {padding-bottom: 56px}
    &:nth-child(odd) .pull {color: $color}
    &:nth-child(even) {
      background-color: $color;
      .pull {color: white}
    }
  }
  .article {
    position: relative;
    &::after {
      content: "";
      clear: both;
      display: table;
    }
    > * {
      width: 100%;
      float: left;
      padding-bottom: 500em;
      margin-bottom: -500em;
      &:not(:last-child) {margin-right: -100%}
    }
    .body {
      @extend %highlight;
      position: relative;
      z-index: 1;
      padding-top: 60px;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 20px;
      @media #{$breakpoint-tablet} {padding-left: 32px;}
      p:last-of-type, .title {
        padding-bottom: 10px;
      }
      .author {
        align-self: flex-end;
        &::before {content: 'by '}
      }
    }
    .pull {
      @extend %display;
      padding-top: 20px;
      font-family: 'matrix-ii-ext-wide';
      font-weight: 500;
      text-decoration: underline;
    }
  }
  a.article {
    &:hover {
      .body {color: white}
      .pull {
        background-color: black;
        color: $color
      }
    }
    .body {
      @extend %subhead;
      @extend %emboldened;
      text-decoration: underline;
    }
  }
}
