@import 'reset';

$color-design: #f9fbb2;
$color-music: #b88e8d;
$color-success: #aafac8;
$font-family-header: 'ministry';
$font-family-body: 'matrix-ii';
$font-family-body-script: 'matrix-ii-script';

$breakpoint-phone: inspect((min-width: 356px));
$breakpoint-phablet: inspect((min-width: 414px));
$breakpoint-tablet: inspect((min-width: 768px));
$breakpoint-desktop: inspect((min-width: 1024px));

$unit-stroke: 2px;

*, *::before, *::after {box-sizing: border-box}
html, body, ui-view {
  width: 100%;
  height: 100%;
  overflow: hidden
}

@mixin underline {
  position: relative;
  &::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 2px;
    background-color: black;
    @media #{$breakpoint-phablet} {bottom: -8px}
  }
  &.active::after, &:active::after {content: ' '}
  @media (any-hover: hover) {
    &:hover::after {
      content: ' ';
      opacity: 0.25
    }
  }
}

@mixin linkColors {
  &:hover, &:active, &.active {
    &[ui-sref*='design'] {
      color: $color-design;
      &::after {background-color: $color-design}
    }
    &[ui-sref*='music'] {
      color: $color-music;
      &::after {background-color: $color-music}
    }
  }
}

//type
html           {
  font: 300 14px/20px $font-family-body;
  letter-spacing: 0.25px;
}
h1, h2, h3, .meta, %title, %subhead, %caption {
  letter-spacing: initial
}
h1, h2, %title {font: 300 20px/20px $font-family-header}
h3       {font: 400 20px/20px $font-family-header}
.meta    {font: 300 12px/16px $font-family-body-script}
%display {font: 400 34px/40px $font-family-body}
%subhead {font: 300 16px/24px $font-family-header}
%caption {font: 200 12px/14px $font-family-header}
a, button, %emboldened {
  font-family: $font-family-header;
  font-weight: 400
}
[ui-sref], span[ng-click] {
  @include linkColors;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  &.active {pointer-events: none}
}

body {
  display: flex;
  > :not(:first-child) {
    margin-left: 2px;
    flex: 1
  }
}

@import 'components/navbar';
@import 'components/contact';

main {
  height: 100%;
  padding: 20px;
  @media #{$breakpoint-tablet} {padding: 20px 32px}
  &:not(#about) {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
@import 'pages/about';
@import 'pages/design';
@import 'pages/music';

@import 'themes';
