@charset "utf-8";
@import "_normalize";
@import "_io";

%padding {
  padding: $base-unit*2;
  @media #{$breakpoint} {
    padding: $base-unit*2 $base-unit*2+$opt-unit/2;
  }
}
%nav-button {
  @extend .io.io-button;
  @extend %padding;
  text-align: left;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-y: hidden;

}
[data-ref] {
  cursor: pointer;
  &:hover {
    @extend .io-hoverable;
  }
}

body {
  display: grid;
  grid-template:
    "nav"
    "head"
    "main" 1fr
    "contact";
  overflow-y: hidden;
  @media (min-width: $breakpoint-width + 384px) {
    grid-template:
      "nav     main"
      "head    main" 1fr
      "contact main"
      / 384px  1fr;
  }
  > main {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  > nav {
    grid-area: nav;
    display: flex;
    a {
      @extend %nav-button;
      flex-grow: 1;
      flex-basis: 50%;
      &[data-ref="page/design"] {
        background-color: $color-red;
      }
      &[data-ref="page/music"] {
        background-color: $color-green;
      }
    }
  }
  > header {
    background-color: $color-red;
    grid-area: head;
    display: none;
    @media (min-height: 600px), (min-width: $breakpoint-width + 384px) {
      display: initial;
    }
    .display1, .display2 {
      display: none;
      @media (min-height: 688px) {
        display: initial;
      }
    }
    > div {
      @extend %padding;
      width: 100%;
      height: 100%;
    }
  }
  > main {
    @extend %padding;
    grid-area: main;
    @media (min-width: $breakpoint-width + 384px + $base-unit*2+$opt-unit/2) {
      padding: $base-unit*4+24px calc(50% - 320px);
    };
  }
  > aside {
    grid-area: contact;
    color: $color-white;
    &:not(.active) {
      height: 64px;
    }
    > * { background-color: $color-blue; }
    > header {
      @extend %nav-button;
      background-color: $color-blue;
    }
  }
}

form {
  @extend %padding;
  h2 {
    display: none;
    @media (min-height: 600px) { display: initial; }
  }
  &:invalid input[type='submit'] {
    pointer-events: none;
    opacity: $alpha-disabled;
  }
}
table {
  tr { vertical-align: top; }
  td {
    &:first-child { font-style: italic; }
    &:not(:last-child) { padding-right: $base-unit*2; }
  }
}
ul.soundcloud {
  margin: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
  line-height: 0px;
  > li {
    width: 100%;
    @media #{$breakpoint} {
      width: calc(50% - #{$base-unit});
    }
    &:not(:last-child) { margin-bottom: $base-unit*2; }
  }
}
