@import 'reset';

$color-design: #f9fbb2;
$color-music: #b88e8d;
$color-success: #aafac8;
$font-family-header: 'Ministry';
$font-family-body: 'Matrix II OT Book';
$font-family-body-script: 'Matrix II Script OT Book';

$breakpoint-phone: inspect((min-width: 356px));
$breakpoint-phablet: inspect((min-width: 414px));
$breakpoint-tablet: inspect((min-width: 768px));
$breakpoint-desktop: inspect((min-width: 1024px));

$unit-stroke: 2px;

*, *::before, *::after {box-sizing: border-box}
html, body, main {
  width: 100%;
  height: 100%;
  overflow: hidden
}

@mixin underline {
  position: relative;
  &::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 2px;
    background-color: black;
    @media #{$breakpoint-phablet} {bottom: -8px}
  }
  &.active::after, &:active::after {content: ' '}
  @media (any-hover: hover) {
    &:hover::after {
      content: ' ';
      opacity: 0.25
    }
  }
}

@mixin linkColors {
  &:hover, &:active, &.active {
    &[ng-click*='design'] {
      color: $color-design;
      &::after {background-color: $color-design}
    }
    &[ng-click*='music'] {
      color: $color-music;
      &::after {background-color: $color-music}
    }
  }
}

//type
html           {
  font: 300 14px/20px $font-family-body;
  letter-spacing: 0.25px;
}
h1, h2, h3, .meta, %title, %subhead, %caption {
  letter-spacing: initial
}
h1, h2, %title {font: 300 20px/20px $font-family-header}
h3       {font: 400 20px/20px $font-family-header}
.meta    {font: 300 12px/16px $font-family-body-script}
%display {font: 400 34px/40px $font-family-body}
%subhead {font: 300 16px/24px $font-family-header}
%caption {font: 200 12px/14px $font-family-header}
a, button, %emboldened {
  font-family: $font-family-header;
  font-weight: 400
}

body {
  display: flex;
  > :not(:first-child) {
    margin-left: 2px;
    flex: 1
  }
}

header {
  @extend %title;
  width: 44px;
  padding: 20px 12px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-between;
  @media #{$breakpoint-phablet} {
    width: 60px;
    padding: 20px;
  }
  > * {
    position: relative;
    &:first-child {
      transform-origin: bottom left;
      transform: rotate(-90deg) translateY(100%)
    }
    &:last-child {
      transform-origin: top left;
      transform: rotate(-90deg) translateX(-100%)
    }
  }

}
h1 {white-space: nowrap}
nav > a {
  @include underline;
  @include linkColors;
  margin-left: 20px;
  cursor: pointer;
  &.active {pointer-events: none}
}

#hello {
  position: fixed;
  bottom: 32px;
  right: 20px;
  z-index: 10;
  &::after {
    position: absolute;
    bottom: -23px;
    right: -10px;
    z-index: -1;
    width: 68px;
    height: 57px;
    padding-top: 12px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='68' height='58' viewBox='0 0 68 58' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3eRectangle 2%3c/title%3e%3cdesc%3eCreated using Figma%3c/desc%3e%3cg id='Canvas' transform='translate(-1283 -940)'%3e%3cg id='Rectangle 2'%3e%3cuse xlink:href='%23path0_fill' transform='translate(1285 942)'/%3e%3cmask id='mask0_outline_out'%3e%3crect id='mask0_outline_inv' fill='white' x='-2' y='-2' width='68' height='58' transform='translate(1285 942)'/%3e%3cuse xlink:href='%23path0_fill' fill='black' transform='translate(1285 942)'/%3e%3c/mask%3e%3cg mask='url(%23mask0_outline_out)'%3e%3cuse xlink:href='%23path1_stroke_2x' transform='translate(1285 942)' fill='%23FFFFFF'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cpath id='path0_fill' d='M 0 0L 64 0L 64 40L 54.5882 40L 54.5882 50L 45.1765 40L 0 40L 0 0Z'/%3e%3cpath id='path1_stroke_2x' d='M 0 0L 0 -2L -2 -2L -2 0L 0 0ZM 64 0L 66 0L 66 -2L 64 -2L 64 0ZM 64 40L 64 42L 66 42L 66 40L 64 40ZM 0 40L -2 40L -2 42L 0 42L 0 40ZM 45.1765 40L 46.6329 38.6293L 46.0406 38L 45.1765 38L 45.1765 40ZM 54.5882 40L 54.5882 38L 52.5882 38L 52.5882 40L 54.5882 40ZM 54.5882 50L 53.1318 51.3707L 56.5882 55.0432L 56.5882 50L 54.5882 50ZM 0 2L 64 2L 64 -2L 0 -2L 0 2ZM 62 0L 62 40L 66 40L 66 0L 62 0ZM 2 40L 2 0L -2 0L -2 40L 2 40ZM 45.1765 38L 0 38L 0 42L 45.1765 42L 45.1765 38ZM 64 38L 54.5882 38L 54.5882 42L 64 42L 64 38ZM 52.5882 40L 52.5882 50L 56.5882 50L 56.5882 40L 52.5882 40ZM 56.0446 48.6293L 46.6329 38.6293L 43.7201 41.3707L 53.1318 51.3707L 56.0446 48.6293Z'/%3e%3c/defs%3e%3c/svg%3e ");
    text-align: center;
    font-size: 22px;
    content: '📬'
  }
  > *:not(.active) {display: none}
  button {
    @extend %title;
    @extend %emboldened;
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    &:focus {outline: none}
    &:hover, &:focus {
      position: relative;
      top: 4px;
      left: 4px;
    }
  }
  form {
    width: 280px;
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    button {
      align-self: flex-end;
      border: none;
      background-color: black;
      color: white;
    }
  }
  input, textarea {
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    padding: 2px 0;
    font: inherit;
    &:focus {outline: none}
    &:not(:last-child) {margin-bottom: 10px}
  }
}

section {
  height: 100%;
  padding: 20px;
  display: none;
  @media #{$breakpoint-tablet} {padding: 20px 32px}
  &:not(#about) {
    overflow-y: scroll;
    &.active {display: flex}
  }
}
#about {
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  @media (orientation:landscape) {grid-template-columns: 1fr 1fr 1fr}
  @media #{$breakpoint-tablet} {grid-gap: 32px}
  &.active {display: grid}
  span {@extend %display;}
}
#design {
  flex-wrap: wrap;
  h2 {order: -1;}
  figure {display:none}
  .active ~ figure {
    display: initial;
    + h2 ~ figure {display: none}
  }
  > .card {
    margin-right: 20px;
    @media #{$breakpoint-tablet} {margin-right: 32px}
  }
}
h2 {
  @include underline;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 20px;
    @media #{$breakpoint-tablet} {margin-right: 32px}
  }
  &.active {pointer-events: none}
}
figure {
  margin-top: 32px;
  padding-top: 32px;
  position: relative;
  &:not(.card) {width: 100%}
}
figcaption {
  position: absolute;
  top: 0;
  z-index: 1;
  ~ * {
    position: relative;
    z-index: 2
  }
}
.card {
  width: #{224px + $unit-stroke};
  max-width: calc(100% - 44px);
  border: $unit-stroke solid white;
  padding: 12px 20px 12px 12px;
  background-color: black;
  color: white;
  @media #{$breakpoint-phablet} {
    width: #{280px + $unit-stroke};
    max-width: 100%;
    padding: 20px 32px 20px 20px
  }
}
.meta {margin-bottom: 2px}
.tags {
  display: inline;
  li {
    display: inline;
    &:not(:last-child)::after {content: ', '}
  }
}
time {white-space: nowrap}
dt {
  margin-top: 10px;
  @extend %caption;
}
.figimages {
  margin: 0 -20px;
  height: 416px;
  padding: 0 20px 0 calc(100% - #{44px + $unit-stroke});
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  @media #{$breakpoint-phone} {padding-left: #{224px - $unit-stroke}}
  @media #{$breakpoint-phablet} {
    margin: 0 -32px;
    padding: 0 32px 0 #{280px - $unit-stroke}
  }
  &::-webkit-scrollbar {display: none}
  > img {
    height: 416px;
    border: $unit-stroke solid black;
  }
  > *:not(:first-child) {margin-left: 20px}
}
.stack {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  &.watchos {width: 100px}
  &.wear    {width: 132px}
  img {
    min-height: 0;
    border: $unit-stroke solid black;
    &:not(:first-child) {margin-top: 10px}
  }
}
.spacer {padding-left: 12px}
#music {
  flex-direction: column;
  aside {
    order: -1;
    margin-bottom: 32px;
    span {
      display: inline-block;
      margin: 0 32px 10px 0;
      a {margin-left: 4px}
    }
  }
  ul {margin-right: -32px;}
  li {
    display: inline-block;
    margin: 0 32px 32px 0;
    max-width: 100%;
    @media #{$breakpoint-tablet} {max-width: 400px}
  }
}
iframe .soundHeader__logo {display: none}

@import 'themes';
