@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i&display=swap')

:root
  --primary #ff0
  --accent #0af
  --background #f0a

  background-color var(--background)
  color var(--primary)

  font 15px/20px 'IBM Plex Mono', monospac

hr
  width 40px
  border-top 1px solid var(--accent)

.row
  display flex
  align-items center
  > *:not(:first-child)
    margin-left 40px

.column
  display flex
  align-items center
  flex-direction column
  > *:not(:first-child)
    margin-top 40px
